DATABASE_URL=postgresql+psycopg2://postgres:postgres@map-db:5432/map_db

TILES_BASE_PATH=/tiles
SOURCE_IMAGES_PATH=/shared_uploads

REDIS_URL=redis://redis:6379/0
TILE_SERVICE_TASK=tile_service_app.tasks.process_task

S3_ENDPOINT=https://storage.yandexcloud.net
S3_ACCESS_KEY=example_key
S3_SECRET_KEY=example_secret
S3_BUCKET=example_bucket
S3_SECURE=true